@import '../ui';

.cv-root {
	display: block;
	@include ui-box-padding();
	min-width: 600px;
	width: 60vw;
	max-width: 1000px;

	font-family: 'Times New Roman' !important;
	font-size: 16px;
	line-height: initial;

	h1, h2, h3 {
		font-weight: bold;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	> * {
		margin-bottom: ui-length('line');
		&:last-child {
			margin-bottom: 0;
		}
	}
}
