@import '../ui';

oksee-status-board {
	@include ui-box-colors();
}
oksee-status-button,
oksee-status-widget{
	padding: ui-length('small') ui-length('line');
	white-space: nowrap;

	.oksee-status-button__widget {
		display: block;
		min-height: ui-length('small');
		min-width: ui-length('small');
	}
	.oksee-status-button__status {
		@include ui-steno('small');
	}
}

oksee-status-button {
	[data-checkbox-state] {
		background-color: green;
		border: 1px solid ui-color('fg');
	}
	[data-checkbox-state='enabled'] {
		background-color: ui-color('fg');
	}
	[data-checkbox-state='disabled'] {
		background: transparent;//ui-crossed-background(ui-color('fg'));
	}

	// @TODO: Make mixin
	@include ui-click-effect() {
		.oksee-status-button__status {
			color: ui-color('active');
		}
		[data-checkbox-state] {
			border: 1px solid #fff;
		}
		[data-checkbox-state='enabled'] {
			background-color: #fff;
		}
	};
}