@import '../ui';

.flex-row,
.flex-column {
	display: flex;
	flex-wrap: nowrap;
}
.flex-row {
	flex-direction: row;
	&.flex-gutter {
		> * {
			margin-left: ui-length('line');
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.flex-column {
	flex-direction: column;
	&.flex-gutter,
	&.flex-gutter-root {
		> * {
			margin-top: ui-length('line');
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.flex-items-start {
	align-items: flex-start;
}