@import '../ui';

oksee-menu {
	@include ui-box-colors();
	flex: 0 0 auto;
}

oksee-menu-item {
	display: block;
	padding: ui-length('small') ui-length('line');
	color: ui-color('fg');

	// @TODO: Make mixin
	@include ui-click-effect();
}