@import '../ui';

oksee-menu {
	display: block;
	background-color: ui-color('bg-alt');
	border: 1px solid ui-color('line');
	flex: 0 0 auto;
}

oksee-menu-item {
	display: block;
	padding: ui-length('small') ui-length('line');
	color: ui-color('fg');
	transition: background-color 0.1s;
	&:hover {
		cursor: pointer;
		background-color: ui-color('line');
	}
}