@import '../ui';

oksee-properties {
	display: block;
	flex-direction: column;
}

oksee-property {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
}

oksee-property-key {
	display: flex;
	flex: 0 0 10%;
	min-width: 4 * ui-length();
	@include ui-steno('small');
}

oksee-property-value {
	display: flex;
	flex: 1 1 75%;
}