@import './ui-lookup';

$fg: #8e8e8e;
$bg: #121212;
$bg-light: #1b1b1b;

@function ui-color ($color, $variation: false) {
	@return _ui-lookup((
		// Regular text
		'fg': $fg,
		'fg-dim': mix($fg, $bg, 50),

		// Regular background
		'bg': $bg,
		'bg-dim': mix($fg, $bg, 14),

		// As in "interactive", aka not dead.
		'active': mix($fg, yellow, 50),
		'bg-active': mix($bg, yellow, 85),
		'fg-danger': darkred,

		// Contrasting alternative
		'fg-alt': $fg,
		'bg-alt': transparent,
		//'bg-alt': mix($fg, $bg, 7),

		// Soft line on 'bg'
		'line-soft': mix($fg, $bg, 14),
		'line': mix($fg, $bg, 21),
		'line-strong': mix($fg, $bg, 35)
	), $color, $variation);
}
