@import './ui';
@import './flex/flex';

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	line-height: inherit;
}

html, body, #root, oksee {
	display: block;
	width: 100vw;
	height: 100vh;
}
oksee {
	padding: ui-length();
	margin: 0;
	box-sizing: border-box;
}
body {
	@include ui-steno('normal');
	background-color: ui-color('bg');
	color: ui-color('fg');
	line-height: ui-length('line');
}
[href] {
	color: ui-color('active');
}