@import './ui';
@import './flex/flex';

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	background: transparent;
}

html,
body,
#root,
oksee {
	display: block;
	width: 100vw;
	height: 100vh;
}

oksee {
	position: relative;
	padding: ui-length();
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	@include ui-steno('normal');
	background-color: ui-color('bg');
	color: ui-color('fg');
	line-height: ui-length('line');
}


a {
	padding: 0 2px;
	margin: 0 -2px;
	color: ui-color('bg');
	background-color: ui-color('fg');
	text-decoration: none;
	&:hover {
		cursor: pointer;
		color: ui-color('bg');
		background-color: ui-color('active');
	}
}
oksee-console {
	overflow: hidden;
	@extend .flex-column;
	justify-content: flex-end;
}

oksee.skewed {
	oksee-grid {
		margin-top: 30px;
		transform-origin:right top;

		// Skewed as floor
		//transform: rotate(-45deg) skew(30deg, 30deg);

		// Skewed as south-facing
		transform: rotate(0deg) skew(0deg, 15deg);
	}
	oksee-system {
		margin-top: 30px;
		transform-origin:left top;
		transform: rotate(0deg) skew(0deg, -15deg);
	}
}