.luggage{
	width: 800px;
	height: 600px;
}

.luggage {
	position: relative;
	border: 1px solid blue;
}

.luggage-world {
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: visible;
}
.luggage-tile {
	transition: 0.2s all;
	position: absolute;
}