@import './ui/ui-color';
@import './ui/ui-crossed-background';

@import './ui/ui-steno';

@import './ui/ui-length';

@import './ui/ui-animation';
	@import './ui/ui-border-blink';

@mixin ui-box ($bg: ui-color('bg-alt'), $borderColor: ui-color('line'), $padding: ui-length('line')) {
	display: block;
	padding: $padding;
	background-color: $bg;
	border: 1px solid $borderColor;
}
@mixin ui-user-select($mode: none) {
	-webkit-user-select: $mode;
	-moz-user-select: $mode;
	-ms-user-select: $mode;
	user-select: $mode;
}