@import './ui/ui-color';
@import './ui/ui-crossed-background';

@import './ui/ui-steno';

@import './ui/ui-length';

@import './ui/ui-animation';
	@import './ui/ui-border-blink';

@mixin ui-box ($bg: ui-color('bg'), $padding: ui-length('line')) {
	display: block;
	padding: ui-length();
	background-color: ui-color('bg-alt');
	border: 1px solid ui-color('line');
}