@import '../ui';
oksee-window-container {
	position: fixed;
	top: 0;
	left: 0;
}
oksee-window {
	@include ui-box-colors(ui-color('bg'));
}

oksee-window-header {
	@include ui-striped-background(ui-color('bg-alt'));
	> *:first-child {
		padding: ui-length('small') ui-length('line');
	}
}
