@import '../ui';

oksee-console-input {
	@include ui-box();
	input {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -100;
	}
}
oksee-console-input-field {
	white-space: pre;
	> * {
		@include ui-user-select();
		display: inline-block;
		vertical-align: middle;
		height: ui-length('line');
	}
}

oksee-console-input-cursor {
	min-width: 5px;
	background-color: ui-color('fg-dim');
	color: ui-color('bg');

	oksee-console-input.has-focus & {
		background-color: ui-color('fg');
	}
}